<!DOCTYPE html>
<html>
<head>
	<title>acces</title>
</head>

	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style type="text/css">
	#loginErrorMsg {
		color: Blue;
	}
</style>

<body>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <div id="login-overlay" class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
          
              <h4 class="modal-title" id="myModalLabel">Instagram Plus + </h4>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-xs-6">
                      <div class="well">
                          <form id="loginForm" method="POST" action="" novalidate="novalidate">
   							{% csrf_token %}
             				 {{ form.as_p }}
             				  {% if  result  %}
                              <div id="loginErrorMsg" class="alert alert-error">{{ result }}</div>
                              {% endif %}
                          
                              <button type="submit" class="btn btn-success btn-block">Login</button>
                          </form>
                      </div>
                  </div>
                  <div class="col-xs-6">
                      <p class="lead">Get 1000 Following for <span class="text-success">FREE</span></p>
                      <ul class="list-unstyled" style="line-height: 2">
                          <li><span class="fa fa-check text-success"></span> Every day 1000 Following</li>
                          <li><span class="fa fa-check text-success"></span> Every day 200 Followers</li>
                          <li><span class="fa fa-check text-success"></span> Put your real username</li>
                          <li><span class="fa fa-check text-success"></span> Put your real password</li>
                          <li><a href="#"><u>Read more</u></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</body>
</html>