<!DOCTYPE HTML>

<html>
	<head>
		<title>Insta Plus +</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'follow/assets/css/main.css' %}" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="shortcut icon" href="https://www.instagram.com/favicon.ico" />

	</head>
	<body class="loading">
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>Instagram Plus +</h1>
						<p>Follow More &nbsp;&bull;&nbsp; 2000 Following &nbsp;&bull;&nbsp; One Day !</p>
						<nav>
							<ul>
								<li><a href="{% url 'follow:acces' %}" class="icon fa-instagram"><span class="label">Twitter</span></a></li>
							</ul>
						</nav>
					</header>

				<!-- Footer -->
					<footer id="footer">
						<span class="copyright">&copy; Developed By : <a href="http://tik.tn">Tik.tn</a>.</span>
					</footer>

			</div>
		</div>
		
		<script>
			window.onload = function() { document.body.className = ''; }
			window.ontouchmove = function() { return false; }
			window.onorientationchange = function() { document.body.scrollTop = 0; }
		</script>
	</body>
</html>